# Host volume paths
HOST_CALRS_DATA=/cluster/calrs_data/data
HOST_CALRS_BACKUP=/cluster/calrs_data/backup

# Image tags
CALRS_TAG=latest

# Proxy configuration
ENTRYPOINT=
DOMAIN=

# CalRS configuration
CALRS_BASE_URL=https://calrs.host.local

# Backup configuration
## (use s for seconds, m for minutes and h for hours)
BACKUP_FREQUENCY=24h
RETENTION_DAYS=14
