# Host volume paths
HOST_GRAYLOG_DATA=/mnt/graylog_data

# graylog properties
GRAYLOG_HTTP_EXTERNAL_IP=$(ifconfig eth0 | grep -Eo 'inet (addr:)?([0-9]*\.){3}[0-9]*' | grep -Eo '([0-9]*\.){3}[0-9]*' | grep -v '127.0.0.1')
GRAYLOG_PASSWORD_SECRET=SomeRandomStringAtLeast16CharachtersLong
GRAYLOG_ROOT_PASSWORD_SHA2=SomeRandomSha2EncryptedString
GRAYLOG_TRANSPORT_EMAIL_ENABLED=false
GRAYLOG_TRANSPORT_EMAIL_HOSTNAME=
GRAYLOG_TRANSPORT_EMAIL_PORT=25
GRAYLOG_TRANSPORT_EMAIL_USE_AUTH=true
GRAYLOG_TRANSPORT_EMAIL_USE_TLS=true
GRAYLOG_TRANSPORT_EMAIL_USE_SSL=false
GRAYLOG_TRANSPORT_EMAIL_AUTH_USERNAME=
GRAYLOG_TRANSPORT_EMAIL_AUTH_PASSWORD=
GRAYLOG_TRANSPORT_EMAIL_FROM_EMAIL=graylog@example.com
GRAYLOG_TRANSPORT_EMAIL_SUBJECT_PREFIX="[GRAYLOG]"