# Host volume paths
HOST_PAPERLESS_DATA=/cluster/paperless/data
HOST_PAPERLESS_MEDIA=/cluster/paperless/media
HOST_PAPERLESS_EXPORT=/cluster/paperless/export
HOST_PAPERLESS_CONSUME=/cluster/paperless/consume
HOST_PAPERLESS_DB_DATA=/cluster/paperless/db
HOST_PAPERLESS_BACKUP=/cluster/paperless/backup

# Image tags
PAPERLESS_TAG=2.20
POSTGRES_TAG=18
REDIS_TAG=8

# Proxy configuration
ENTRYPOINT=websecure
DOMAIN=paperless.host.local

# Paperless configuration
PAPERLESS_DBNAME=paperless
PAPERLESS_DBUSER=paperless
PAPERLESS_OCR_LANGUAGE=eng
PAPERLESS_TIME_ZONE=Europe/Berlin
USERMAP_UID=1000
USERMAP_GID=1000

# Backup configuration
## (use s for seconds, m for minutes and h for hours)
BACKUP_FREQUENCY=24h
RETENTION_DAYS=14
