# Host volume paths
HOST_DRUPAL_DB=/cluster/drupal_data/db
HOST_DRUPAL_DATA=/cluster/drupal_data/data
HOST_DRUPAL_BACKUP=/cluster/drupal_data/backup

# DB Connection
DB_NAME=exampledb1
DB_USER=exampleuser1
DB_PASSWORD=examplepass1

# Image tags
DRUPAL_TAG=11.3-php8.4-apache
MARIADB_TAG=11.4.12

# Proxy configuration
ENTRYPOINT=
DOMAIN=

# Drupal configuration
DRUPAL_DEBUG=0

# MariaDB configuration
MYSQL_RANDOM_ROOT_PASSWORD='1'

# Backup configuration
## (use s for seconds, m for minutes and h for hours)
BACKUP_FREQUENCY=24h
RETENTION_DAYS=14

# NFS configuration
NFS_SHARE_IP=
