# MantisBT Stack
MANTISBT_TAG=2.25.2
MARIADB_TAG=10.7

# Host paths
HOST_MANTISBT_DATA=/data/apps/mantisbt/data
HOST_MANTISBT_DB_DATA=/data/apps/mantisbt/db
HOST_MANTISBT_DB_BACKUP=/data/backup/mantisbt

# MantisBT Configuration
MANTISBT_HOST=mantisbt.example.com

# Backup Configuration
BACKUP_FREQUENCY=86400
RETENTION_DAYS=7
