# Host paths
HOST_MANTISBT_DATA=/cluster/mantisbt/data
HOST_MANTISBT_DB_DATA=/cluster/mantisbt/db
HOST_MANTISBT_DB_BACKUP=/cluster/mantisbt/backup

# Image Tags
MANTISBT_TAG=latest
MARIADB_TAG=lts

# Proxy configuration
ENTRYPOINT=
DOMAIN=

# MantisBT Configuration
MANTIS_TIMEZONE=Europe/Berlin
MANTIS_ENABLE_ADMIN=0

# Backup configuration
BACKUP_FREQUENCY=24h
RETENTION_DAYS=14
